# Node
node_modules/*
npm-debug.log

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

# Ignored files
*.ts

# DO NOT IGNORE TYPESCRIPT FILES FOR NPM
# TypeScript
# !*.js
# !*.map
!*.d.ts
