// http://ionicframework.com/docs/v2/theming/

$color-warn: #7c6e2c;
$color-error: #ee3426;
$color-log: #41af0f;

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
