console-button .button {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  background: #FFFFFF;
}
console-button .button .errors {
  color: #ee3426;
}
console-button .button .warnings {
  color: #7c6e2c;
}
console-button .button .logs {
  color: #41af0f;
}
